./world_economic_forum/
./un-women-annual-reports/
./sustainability_development_goals_reports/
./heforshe/
./gender_snapschots/
.DS_Store
.ipynb_checkpoints/
gender-equity-navigator-5a54aed4da0b.json
gender-equity-navigator-cb89eefec226.json
./__pycache__/

